<nav class="bg-header">
  <div class="nav-wrapper">
    <%= link_to "/", class: "brand-logo" do %>
      <div class="valign-wrapper">
        <h5 class="valign">Laboratorio TP 2</h5>
      </div>
    <% end %>
  </div>
</nav>
